.abt {
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.abt h3 {
  font-size: 1.8rem;
}
@media all and (max-width: 800px) {
  .inner-about {
    display: flex;
    justify-content: center;
  }
  .inner-about p {
    width: 500px;
    text-align: center;
  }
}
@media all and (max-width: 480px) {
  .inner-about {
    display: flex;
    justify-content: center;
  }
  .inner-about p {
    width: 400px;
    text-align: center;
  }
}
