.abt {
  height: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.abt h3 {
  font-size: 2rem;
  letter-spacing: 4px;
}

.inner-about p {
  font-size: 1.5rem;
  width: 700px;
}
@media all and (max-width: 600px) {
  .inner-about {
    display: flex;
    justify-content: center;
  }
  .inner-about p {
    width: 500px;
    text-align: start;
  }
}
@media all and (max-width: 480px) {
  .inner-about {
    display: flex;
    justify-content: center;
  }
  .inner-about p {
    width: 350px;
    text-align: start;
    padding-left: 20px;
  }
}
