.skcon {
  height: 700px;
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.skcon h2 {
  color: white;
  font-size: 1.8rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;

  align-items: center;
  justify-items: center;
}
.skills-list {
  width: 250px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-frame {
  font-size: 5rem;
  color: rgb(87, 128, 211);
}
